@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=IBM+Plex+Sans+KR&display=swap");

* {
  font-family: "IBM Plex Sans KR", sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 1020px;
  margin: auto;
}

.button {
  padding: 10px;
  font-size: 18px;
}

a[href] {
  color: dodgerblue;
  text-decoration-line: none;
  background-color: white;
  border: 0px;
}

.header {
  box-shadow: rgb(92, 104, 109) 0px 7px 29px 0px;
  padding: 10px;
}

.header h1 {
  display: block;
  position: relative;
  font-family: "Changa One", cursive;
  font-size: 40px;
  animation: movingHeader 1s;
}

.header .button {
  color: black;
  text-decoration-line: none;
  background-color: white;
  border: 0px;
}

.header .button:hover {
  background-color: gray;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-form {
  margin: 8px auto;
  padding: 8px;
  width: 320px;
  height: 200px;
  text-align: center;
}

.user-form h1 {
  font-size: 1.5em;
}

.user-form p {
  width: 100%;
  height: auto;
  text-align: left;
  margin: 8px;
}

.user-form input[type="text"],
[type="password"],
[type="tel"],
[type="date"],
[type="number"] {
  border: 2px solid #000;
  border-radius: 5px;
  height: 40px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
}

.user-form .button {
  background-color: darkslateblue;
  color: white;
  border: 2px solid darkslateblue;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 6px;
}

.user-form .signup {
  text-align: center;
}

.navi {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  width: 80%;
}

.container h1 {
  padding: 8px;
  font-size: 1.5em;
  text-align: left;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.items .item {
  display: flex;
  position: relative;
  transition: transform 2s ease-out;
  padding: 0.5em;
  box-sizing: border-box;
  cursor: pointer;
}

.items .item:hover {
  transform: scale(1.1, 1.1);
}

.items .item img {
  width: 100%;
  transition: filter 2s ease-out;
}

.items .item:hover img {
  filter: brightness(50%);
}

.items .item .img-text {
  display: none;
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 24px;
}

.items .item:hover .img-text {
  display: block;
}

.items .item .img-price {
  display: none;
  position: absolute;
  z-index: 2;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 24px;
}

.items .item:hover .img-price {
  display: block;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: rgb(97, 152, 185);
}

.footer h1 {
  color: white;
  text-align: center;
}

.footer p {
  color: white;
  font-size: 1em;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  width: 100%;
}

.search_container {
  width: 20%;
  margin: 8px;
  padding: 8px;
}

.search_container .form_info {
  margin: 4px;
  padding: 4px;
}

.form_info input[type="text"],
select {
  border: 2px solid #000;
  border-radius: 5px;
  height: 40px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
}

.form_info input[type="submit"] {
  background-color: darkslateblue;
  color: white;
  border: 2px solid darkslateblue;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 6px;
}

.product_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  width: 100%;
  box-sizing: border-box;
}

.product_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  padding: 8px;
}

.product_image {
  width: 60%;
  padding: 8px;
  text-align: center;
}

.product_image img {
  width: 80%;
}

.infomation {
  width: 40%;
  padding: 8px;
  text-align: center;
}

.infomation p {
  font-size: 1.5em;
}

.comment_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
}

.comment_info {
  width: 100%;
  padding: 8px;
  display: flex;
}

.comment_info .form-text {
  width: 90%;
  padding: 8px;
}

.form-text textarea {
  width: 100%;
  border: 2px solid #000;
  border-radius: 5px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
}

.comment_info .form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  padding: 8px;
}

.form-button input[type="submit"] {
  background-color: darkslateblue;
  color: white;
  border: 2px solid darkslateblue;
  border-radius: 10px;
  width: 100%;
  height: 70%;
  font-size: 16px;
  padding: 0 6px;
}

.comments {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 100%;
}

.comment {
  border: 3px solid black;
  border-radius: 10px;
  padding: 8px;
  margin: 8px;
  box-sizing: border-box;
}

@keyframes movingHeader {
  0% {
    opacity: 0;
    left: 600px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@media (min-width: 801px) {
  .items .item {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .navi {
    flex-direction: column;
  }

  .items .item {
    width: 50%;
  }

  .container {
    width: 100%;
  }

  .search_container {
    width: 100%;
  }

  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .navi {
    flex-direction: column;
  }

  .items .item {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .search_container {
    width: 100%;
  }

  .wrapper {
    flex-direction: column;
  }
}
